@page "/corona"

@using WebApp.Data


@inject CoronaAPI CoronaAsService

<h1>Corona counter</h1>
@if (@currentCount == null)
{
    <p><em>Loading stats...</em></p>
}
else
{
    <p>Cases: @currentCount.cases.ToString()</p>
    <p>Deaths: @currentCount.deaths.ToString()</p>
    <p>Recovered: @currentCount.recovered.ToString()</p>
    @if (countries == null)
    {
        <p><em>Loading today stats...</em></p>
    }
    else
    {
        <p>Cases today: @countries.Sum(o => o.todayCases).ToString()</p>
        <p>Deaths today: @countries.Sum(o => o.todayDeaths).ToString()</p>
    }
}

@if (countries == null)
{
    <p><em>Loading country stats...</em></p>

}
else
{
    <label for="countryFilter">Country</label>
    <input type="text" id="countryFilter" bind="@TxtInput" @oninput="@((ui)=>{@TxtInput=(string)ui.Value;})" />

    <table class="table">
        <thead>
            <tr>
                <th class="td-background" @onclick="@(() => SortTable("country"))"><span class="oi oi-globe" aria-hidden="true"></span><span class="sort-link">Country</span></th>
                <th class="td-background" @onclick="@(() => SortTable("cases"))"><span class="oi oi-eye" aria-hidden="true"></span><span class="sort-link">Cases</span></th>
                <th class="td-background" @onclick="@(() => SortTable("todayCases"))"><span class="oi oi-magnifying-glass" aria-hidden="true"></span><span class="sort-link">Today cases</span></th>
                <th class="td-background" @onclick="@(() => SortTable("deaths"))"><span class="oi oi-minus" aria-hidden="true"></span><span class="sort-link">Deaths</span></th>
                <th class="td-background" @onclick="@(() => SortTable("todayDeaths"))"><span class="oi oi-pulse" aria-hidden="true"></span><span class="sort-link">Today deaths</span></th>
                <th class="td-background" @onclick="@(() => SortTable("recovered"))"><span class="oi oi-heart" aria-hidden="true"></span><span class="sort-link">Recovered</span></th>
                <th class="td-background" @onclick="@(() => SortTable("critical"))"><span class="oi oi-warning" aria-hidden="true"></span><span class="sort-link">Critical</span></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in countries)
            {
                <tr>

                    <td>@country.country</td>
                    <td>@country.cases</td>
                    <td>@country.todayCases</td>
                    <td>@country.deaths</td>
                    <td>@country.todayDeaths</td>
                    <td>@country.recovered</td>
                    <td>@country.critical</td>

                </tr>

            }
        </tbody>
    </table>
}

@code {
    private GlobalCoronaStats currentCount;//
    private List<CoronaListByCountry> countriesCache;
    private List<CoronaListByCountry> countries;
    private int numberInList = 0;

    private string _txtInput { get; set; }
    protected string TxtInput
    {get { return _txtInput; }
        set
        {
            _txtInput = value;
            FilterTable(value);
        }

    }

    protected override async Task OnInitializedAsync()
    {
        currentCount = await CoronaAsService.GetTodayStatsAsync();
        countriesCache = await CoronaAsService.GetListWithCountriesAsync();
        countries = countriesCache; //Just so we can search cached list on the fly
    }
    private void SortTable(string columnName)
    {
        switch (columnName)
        {
            case "country":
                countries = countries.OrderBy(o => o.country).ToList();
                break;
            case "cases":
                countries = countries.OrderByDescending(o => o.cases).ToList();
                break;
            case "todayCases":
                countries = countries.OrderByDescending(o => o.todayCases).ToList();
                break;
            case "deaths":
                countries = countries.OrderByDescending(o => o.deaths).ToList();
                break;
            case "todayDeaths":
                countries = countries.OrderByDescending(o => o.todayDeaths).ToList();
                break;
            case "recovered":
                countries = countries.OrderByDescending(o => o.recovered).ToList();
                break;
            case "critical":
                countries = countries.OrderByDescending(o => o.critical).ToList();
                break;

            default: break;
        }
    }
    private void FilterTable(string txt)
    {
        countries = countriesCache.Where(o => o.country.ToLower().Contains(txt.ToLower())).ToList();
    }

}
